{% extends 'layout-doctor-dashboard.html'%}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">

      <!-- Todays' Appointments Card -->
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Today's Appointments</p>
                <h5 class="font-weight-bolder mb-0">
                  {{ params.todays_appointment }}
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- Today's Exams Card -->
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Today's Exams</p>
                <h5 class="font-weight-bolder mb-0">
                    {{ params.todays_exams }}
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Next Appointment & Prescriptions Made Today Card -->
  <div class="row mt-4">
    <div class="col-lg-7 mb-lg-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-lg-6">
              <div class="d-flex flex-column h-100">
                <p class="mb-1 pt-2 text-bold">Next appointment: </p>
                <h5 class="font-weight-bolder">{{ params.patient_next }}</h5>
                <p class="mb-5">{{ params.appointment_motive }}</p>
                  <p class="mb-5">{{ params.start_appointment }}</p>
                <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" href={{ url_for('doctor_dashboard_patient_info', **{"_id": params.patient_id})}}>
                  Details about {{ params.patient_next }}
                  <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
              <div class="bg-white border-radius-lg h-100">
                <img src="../static/img/shapes/waves-white.svg" class="position-absolute h-100 w-50 top-0 d-lg-block d-none" alt="waves">
                <div class="position-relative d-flex align-items-center justify-content-center h-100">
                  <img class="w-100 position-relative z-index-2 pt-4" src="{{ url_for('static', filename=params.next_patient_photo)}}" alt="rocket">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card h-100 p-3">
        <div class="overflow-hidden position-relative border-radius-lg bg-dark h-100">
          <span class="mask bg-gradient-dark"></span>
          <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
            <h5 class="text-white font-weight-bolder mb-4 pt-2">Prescriptions Made Today</h5>
              <p class="text-white font-weight-bold">{{ params.todays_date }}</p>
              <ul class="text-white">
                  {% for prescription in params.prescriptions %}
                  <li>
                      {{ prescription.id }} to {{ prescription.patient }} at {{ prescription.time }}
                  </li>
              </ul>
              {% endfor %}
            <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="{{ url_for('doctor_dashboard_prescription_form') }}">
              New Prescription
              <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Today's Exams -->
  <div class="row my-4">
    <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h6>Today's Exams</h6>
            </div>
            <div class="col-lg-6 col-5 my-auto text-end">
              <div class="dropdown float-lg-end pe-4">
                <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-ellipsis-v text-secondary"></i>
                </a>
                <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                  <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                  <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                  <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Scheduled to</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Room</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Patient</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Type</th>
                </tr>
              </thead>
              <tbody>
              {% for exam in params.exams %}
                <tr>
                  <td style="padding-left: 30px">
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column">
                        <span class="text-xs font-weight-bold">{{ exam.hour }} </span>
                      </div>
                    </div>
                  </td>
                  <td>
                      <span class="text-xs font-weight-bold"> {{ exam.room }} </span>
                  </td>
                  <td style="padding-left: 30px">
                    <div class="avatar-group mt-2">
                      <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Alfredo">
                        <img src="{{ url_for('static', filename=exam.photo) }}" alt="team1">
                      </a>
                    </div>
                  </td>
                  <td>
                    <span class="text-xs font-weight-bold"> {{ exam.type }}</span>
                  </td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}