{% extends 'layout-doctor.html' %}
{% set active_page = "doctor_dashboard_prescriptions" %}
{% block content %}
<div class="container-fluid py-4">
  <div class="row my-4">
    <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h5>List of Prescriptions</h5>
                <p>Total prescriptions: {{ params.total_prescriptions }}</p>
            </div>
            <div class="col-lg-2 col-5 my-auto text-center">
                        <a href="{{ url_for('doctor_dashboard_prescription_form') }}">
                      <button type="button" class="btn text-xs" style="background: #61CBFD; color: white">
                            Make Prescription
                      </button>
                        </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Date</th>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">ID</th>
                  <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Patient</th>
                  <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">More Details</th>
                </tr>
              </thead>
              <tbody>
              {% for prescription in params.prescriptions %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ prescription.date }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="avatar-group mt-2">
                        <h6 class="mb-0 text-sm">{{ prescription.id._id }}</h6>
                    </div>
                  </td>
                  <td class="align-middle text-center text-sm">
                      <div class="avatar-group mt-2">
                        <h6 class="mb-0 text-sm">{{ prescription.patient }}</h6>
                    </div>
                  </td>
                    <td class="align-middle text-center text-sm">
                            <a href={{ url_for('doctor_dashboard_prescription_info', **prescription.id) }}><i class="fa fa-search"></i></a>
                    </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}