{% extends 'layout-doctor-dashboard.html' %}

{% block content %}
<div class="container-fluid py-4">
    <a href="{{ url_for('doctor_dashboard_prescriptions') }}"><p style="padding-top: 10px; padding-left: 5px ;font-size: 14px; font-weight: bold"><i class="fa fa-arrow-left"></i> Go Back</p></a>
  <div class="row my-4">
    <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
      <div class="card">
        <div class="card-header pb-4">
          <div class="row">
            <div class="col-lg-6 col-7">
            <h5>Prescription Details</h5>
                <h6>ID: {{ params.id }}</h6>
                <h6>Date: {{ params.date }}</h6>
                <h6>Patient: {{ params.patient }}</h6>
                <h6>Motive: {{ params.motive }}</h6>
                <h6>Pharmaceuticals:</h6>
                <ul>
                    {% for pharmaceutical in params.pharmaceuticals %}
                        <li>{{ pharmaceutical }}</li>
                    {% endfor %}
                </ul>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}