{% extends 'layout-doctor.html' %}
{% set active_page = "doctor_dashboard_appointments" %}
{% block content %}
<div class="container-fluid py-4">
  <div class="row my-4">
    <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-danger alert-dismissible">
          {{ message }}
      </div>
    {% endfor %}
      <div class="card">
        <div class="card-header pb-4">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h5>List of Appointments</h5>
                <p>Total appointments: {{ params.total_appointments }}</p>
            </div>
              <div class="col-lg-6 col-7">
                  <div>
                      <form action="#" method="POST" class="bg-white border-radius-lg d-flex me-2">
                          <input type="text" class="form-control ps-3" name="filter" style="width: 300px; margin-right: 10px" placeholder="Search for patient's appointments">
                          <input type="submit"  value="Search" class="btn my-1 me-1" style="background: #61CBFD; color: white ">
                      </form>

                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">#</th>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Date</th>
                  <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Hour</th>
                  <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Patient</th>
                    <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Specialty</th>
                  <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">More Details</th>
                </tr>
              </thead>
              <tbody>
              {% for appointment in params.appointments %}
                <tr>
                <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ appointment.id._id }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ appointment.date }}</h6>
                      </div>
                    </div>
                  </td>
                    <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ appointment.hour }}</h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle text-center text-sm">
                      <div class="avatar-group mt-2">
                        <h6 class="mb-0 text-sm">{{ appointment.patient }}</h6>
                    </div>
                  </td>
                    <td class="align-middle text-center text-sm">
                      <div class="avatar-group mt-2">
                        <h6 class="mb-0 text-sm">{{ appointment.specialty }}</h6>
                    </div>
                  </td>
                    <td class="align-middle text-center text-sm">
                      <form action="{{url_for('doctor_dashboard_appointment_info')}}" method="POST">
                        <input type="hidden" name="appointment_id" value="{{ appointment.id._id }}">
                        <button type="submit" class="fa fa-search"></button>
                      <form>
                    </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}