{% extends 'layout-doctor.html' %}
{% set active_page = "doctor_dashboard_exams" %}
{% block content %}
        <div class="container-fluid py-4">
        <!-- Patient Name Card -->
        <div class="row my-4">
        <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-4">
              <div class="row">
                <div class="col-12">
                  <h2>Exam Details</h2>
                    <div class="row">
                        <div class="col-12">
                            <h5>ID<p>{{ params.Codigo }}</p></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h5>Patient<p>{{ params.User }}</p></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5>Data de Emissão<p>{{ params.Data_Emissao }}</p></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5>Data de Validade<p>{{ params.Data_Validade }}</p></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5>Tests</h5>
                <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                        <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Procedure</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Min</th>
                            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Max</th>
                            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Units</th>
                            <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Result</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for test in params.Tests %}
                        <tr>
                            <td>
                            <div class="d-flex px-2 py-1">
                                <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">{{ test[0] }}</h6>
                                </div>
                            </div>
                            </td>
                            <td>
                            <div class="avatar-group mt-2">
                                <h6 class="mb-0 text-sm">{{ test[1] }}</h6>
                            </div>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <div class="avatar-group mt-2">
                                <h6 class="mb-0 text-sm">{{ test[2] }}</h6>
                            </div>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <div class="avatar-group mt-2">
                                <h6 class="mb-0 text-sm">{{ test[3] }}</h6>
                            </div>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <div class="avatar-group mt-2">
                                <h6 class="mb-0 text-sm">{{ test[4] }}</h6>
                            </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
            
        </div>
{% endblock %}