{% extends "layout-doctor.html" %}
{% set active_page = "doctor_dashboard_patients" %}

{% block content %}
<div class="container-fluid py-4">
<div class="row my-4">
  <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
    {% for message in get_flashed_messages() %}
      <div class="alert alert-danger alert-dismissible">
          {{ message }}
      </div>
    {% endfor %}
    <div class="card">
      <div class="card-header pb-4">
        <div class="row">
          <div class="col-lg-6 col-7">
            <h5>List of Patients</h5>
              <p>Total patients: {{ params.total_patients }}</p>
          </div>
            <div class="col-lg-6 col-7">
                <div>
                    <form action="#" method="POST" class="bg-white border-radius-lg d-flex me-2">
                        <input type="text" class="form-control ps-3" name="filter" style="width: 300px; margin-right: 10px" placeholder="Search for patient">
                        <input type="submit"  value="Search" class="btn my-1 me-1" style="background: #61CBFD; color: white ">
                    </form>

                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Patient Name</th>
                <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">NISS</th>
                <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Last appointment</th>
                <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">More details</th>
              </tr>
            </thead>
            <tbody>
            {% for patient in params.patients %}
              <tr>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">{{ patient.name }}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="avatar-group mt-2">
                    <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Alfredo">
                      <h6 class="mb-0 text-sm">{{ patient.niss }}</h6>
                    </a>
                  </div>
                </td>
                <td class="align-middle text-center text-sm">
                  <span class="text-xs font-weight-bold"> {{ patient.last_appointment }} </span>
                </td>
                  <td class="align-middle text-center text-sm">
                      <form action="{{url_for('doctor_dashboard_patient_info')}}" method="POST">
                        <button type="submit" class="fa fa-search" name="patient_id" value="{{ patient.id._id }}" id="{{ patient.id._id }}"></button>
                      <form>
                  </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}