<footer class="footer py-5" style="align-items: center;display: flex; justify-content: center">
            <div class="container">
                <hr class="horizontal dark mt-lg-5 mt-4 mb-sm-4 mb-1">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <p class="text-sm text-secondary" style="text-align: center">
                            Projeto 1 SIO 2022
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <p class="text-sm text-secondary" style="text-align: center">
                            Developed by Grupo 25
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <p class="text-sm text-secondary" style="text-align: center">
                            Templates by Soft &amp; Loopple & Creative Tim.
                        </p>
                    </div>
                </div>
            </div>
</footer>